html, body {
  color: #555;
  font-family: sans-serif;
  margin: 2em;
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

a {
  color: lightgray;
  display: inline-block;
  width: 18px;
  margin-right: 5px;
  font-size: 20;
}

a:visited {
  color: red;
}

a:hover {
  color: lightgray;
}

.clicked {
  opacity: 0;
  -webkit-transition: opacity .1s;
     -moz-transition: opacity .1s;
      -ms-transition: opacity .1s;
       -o-transition: opacity .1s;
          transition: opacity .1s;
}

#squares {
    margin-bottom: 2em;
}

